{#login/templates/login/index.html#}

{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
    {% if request.session.is_login %}
    <h2>您好,{{ request.session.user_name }}</h2>
<p class="lead">欢迎访问中传放心传</p>
    <br><br>
    <form class='form-upload' action="/upload/" method="post">
        {% csrf_token %}
        <button onclick="window.location.href='/upload'" class="btn btn-default pull-left">上传文件</button>
    </form>
    <form class='form-download' action="/download/" method="post">
        {% csrf_token %}
        <button onclick="window.location.href='/download'" class="btn btn-primary pull-right">下载文件</button>
    </form>
    {% else %}
    <h1>中传放心传</h1>
    <h3>您尚未登录，无法访问主页</h3>
    {% endif %}
        </div>
    </div> <!-- /container -->
{% endblock %}
