{#login/templates/login/upload.html#}
{% extends 'base.html' %}
{% load static %}
{% block title %}下载文件{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style type="text/css">
        body{
            margin: 0px;
        }
        .zhezhao{
            position: fixed;
            background: rgb(0, 0, 0);
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            opacity: 0.5;
        }
        .zhezhao2{
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            opacity: 1;
        }
        .tankuang{
            position: relative;
            top: 70px;
            background: rgb(255, 255, 255);
            width: 90%;
            border-radius: 5px;
            margin: 5% auto;
        }

        #header{
            height: 40px;
            border-radius: 5px;
            background: rgb(251, 230, 156);
            color: rgb(36, 36, 36);
            text-align: center;
        }

        #text{
            vertical-align:middle;
            line-height:40px;
        }
        
        #header-right{
            position: absolute;
            width: 25px;
            height: 25px;
            border-radius: 5px;
            background: rgb(250, 103, 103);
            color: #fff;
            right: 5px;
            top: 5px;
            text-align: center;
        }
        #wenzikuang{
            top: 100px;
            color: rgb(36, 36, 36);
            border-radius: 5px;
        }
    </style>
{% endblock %}
{{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <table class="table table-bordered">
                <thread>
                <tr>
                    <th>文件名</th>
                    <th>文件大小</th>
                    <th>sha256</th>
                    <th>上传时间</th>
                    <th>操作</th>
                </tr>
                </thread>
                <tbody>
                    <tr>
                        <td>{{user.filename}}</td>
                        <td>{{user.size}}</td>
                        <td>{{user.sha256}}</td>
                        <td>{{user.create_time}}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/handle_logout_download_file/?custom_filename={{user.custom_filename}}">下载文件</a>
                            <!-- <a class="btn btn-primary btn-xs" href="/download_hash/?custom_filename={{user.custom_filename}}">校验散列值</a> -->
                            <!-- <a class="btn btn-primary btn-xs" href="#">复制分享链接</a> -->
                            <button class="btn btn-primary btn-xs" type="button" onclick="dianwo()">复制分享链接</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
		<div class="zhezhao" id='zhezhao'> </div>
        <div class="zhezhao2" id='zhezhao2'>
            <div class="tankuang"   id='zhezhao3'>
                <div id="header">
                    <span id = "text"style="font-size:14px">请复制下方分享链接</span>
                    <div id="header-right" onclick="hidder()">x</div>
                </div>
                <div id="wenzikuang">
                    <div class="alert alert-warning">
                        {{url}}{{token}}
                    </div>
                </div>
            </div>
        </div>
		<script type="text/javascript">
			document.getElementById('zhezhao').style.display="none";
            document.getElementById('zhezhao2').style.display="none";
            document.getElementById('zhezhao3').style.display="none";
			function dianwo(){
				document.getElementById('zhezhao').style.display="";
                document.getElementById('zhezhao2').style.display="";
                document.getElementById('zhezhao3').style.display="";
			}
			function hidder(){
				document.getElementById('zhezhao').style.display="none";
                document.getElementById('zhezhao2').style.display="none";
                document.getElementById('zhezhao3').style.display="none";
			}
		</script>
    </div>
    </div>
{% endblock %}