{#login/templates/login/upload.html#}
{% extends 'base.html' %}
{% load static %}
{% block title %}下载文件{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{{% block content %}
    <div class="container">
        <div style="margin-bottom: 8px">
            <a class="btn btn-success" href="/upload/">
                <span class="'glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新增文件
            </a>
        </div>
        </div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                文件列表
            </div>
            <table class="table table-bordered">
                <thread>
                <tr>
                    <!-- <th>id</th> -->
                    <th>用户名</th>
                    <th>文件备注</th>
                    <th>文件名</th>
                    <th>文件大小</th>
                    <th>sha256</th>
                    <th>上传时间</th>
                    <th>提取码</th>
                    <th>操作</th>
                </tr>
                </thread>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <!-- <th>{{obj.id}}</th> -->
                        <td>{{request.session.user_name}}</td>
                        <td>{{obj.custom_filename}}</td>
                        <td>{{obj.filename}}</td>
                        <td>{{obj.size}}</td>
                        <td>{{obj.sha256}}</td>
                        <td>{{obj.create_time}}</td>
                        <td>{{obj.keynumber}}</td>
                        <td>
                        {% if request.session.is_login %}
                            <a class="btn btn-primary btn-xs" href="/login_download/?file={{obj.filename}}">下载</a>
                            <a class="btn btn-success btn-xs" href="/share/?file={{obj.filename}}">分享</a>
                            <a class="btn btn-danger btn-xs" href="/delete/?nid={{obj.id}}">删除</a>
                        {% else %}
            
                            <a class="btn btn-primary btn-xs" href="/logout_download/?custom_filename={{obj.custom_filename}}">下载</a>
                           
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

