{% extends 'base.html' %}
{% load static %}
{% block title %}TOTP二维码{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/login.css">
    <script type="text/javascript" src="../static/js/jquery-3.5.1.min.js" ></script>
{% endblock %}


{% block content %}
    {% load static %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <h4 class="text-center">请使用Google Authenticator扫描下方二维码</h4>
                <p style="text-align: center;">
                    <!-- <p>请使用Google Authenticator扫描下方二维码</p> -->
                    <img src="{% static 'code/code.png' %}" alt="germany" width="320" height="320">
                </p>
            </div>
            <div class="form-group">
                <p >{{qr_url}}</p>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary" onclick="to_index()">去登录</button>
            </div>
        </div>
    </div>
    <script>
        function to_index(){
            
            location.href = "/login/";
        }
    </script>
{% endblock %} 